* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.navbar {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: normal;
}

.active {
    color: darkred;
}
